
.switch-content {
    display: flex;
}

.switch-content__element {
    width: 100%;
    position: relative;
    top: 0;
    left: 100%;
    margin-left: -100%;
    float: left;
    visibility: hidden;
    opacity: 0;
}

.switch-content__element.show {
    opacity: 1;
    visibility: visible;
}
